.student-profiles, .modal-body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}
.card {
    width: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
}

#search-form {
    margin-top: 1rem;
}
a {
    margin-right: 1rem;
}
.modal-footer, .modal-title {
    justify-content: center;
}
